.vs/CppServer/v15/ipch/da04b828e1d333dc.ipch
.vs/CppServer/v15/Browse.VC.opendb
.vs/CppServer/v15/Browse.VC.db
.vs/CppServer/v15/.suo
.vs/CppServer/v15/ipch/AutoPCH/f00dd1794e08015f/HTTPRESPONSE.ipch
.vs/CppServer/v15/ipch/AutoPCH/e8384294b1affd5/HTTPREQUEST.ipch
.vs/CppServer/v15/ipch/AutoPCH/86f05a3869860ecf/STRINGHELPER.ipch
x64/Debug/Lib.pdb
x64/Debug/Lib.lib
x64/Debug/CppServer.pdb
x64/Debug/CppServer.ilk
x64/Debug/CppServer.exe
CppServer/x64/Debug/CppServer.tlog/link.read.1.tlog
CppServer/x64/Debug/CppServer.tlog/CL.write.1.tlog
CppServer/x64/Debug/CppServer.tlog/CL.read.1.tlog
CppServer/x64/Debug/CppServer.tlog/CL.command.1.tlog
CppServer/x64/Debug/CppServer.pch
CppServer/x64/Debug/CppServer.obj
CppServer/x64/Debug/CppServer.log
CppServer/x64/Debug/CppServer.Build.CppClean.log
Constants/x64/Debug/Consts.obj
Constants/x64/Debug/Constants.pdb
Constants/x64/Debug/Constants.idb
.vs/CppServer/v15/Solution.VC.db-wal
.vs/CppServer/v15/Solution.VC.db-shm
.vs/CppServer/v15/Solution.VC.db
x64/Debug/Constants.pdb
x64/Debug/Constants.lib
Lib/x64/Debug/StringHelper.obj
Lib/x64/Debug/Lib.tlog/CL.write.1.tlog
Lib/x64/Debug/Lib.tlog/CL.read.1.tlog
Lib/x64/Debug/Lib.tlog/CL.command.1.tlog
Lib/x64/Debug/Lib.pdb
Lib/x64/Debug/Lib.log
Lib/x64/Debug/Lib.idb
Lib/x64/Debug/HttpResponse.obj
Lib/x64/Debug/HttpRequest.obj
CppServer/x64/Debug/vc141.pdb
CppServer/x64/Debug/vc141.idb
CppServer/x64/Debug/pch.obj
CppServer/x64/Debug/WinSockHelper.obj
CppServer/x64/Debug/Server.obj
CppServer/x64/Debug/IHandler.obj
CppServer/x64/Debug/HttpParser.obj
CppServer/x64/Debug/FileHandler.obj
CppServer/x64/Debug/CppServer.tlog/link.write.1.tlog
CppServer/x64/Debug/DefaultHandler.obj
