x64/Debug/CppServer.pdb
x64/Debug/CppServer.ilk
x64/Debug/CppServer.exe
CppServer/x64/Debug/vc141.pdb
CppServer/x64/Debug/vc141.idb
CppServer/x64/Debug/pch.obj
CppServer/x64/Debug/filehandler.obj.enc
CppServer/x64/Debug/WinSockHelper.obj
CppServer/x64/Debug/Server.obj
CppServer/x64/Debug/HttpParser.obj
CppServer/x64/Debug/FileHandler.obj
CppServer/x64/Debug/CppServer.tlog/link.write.1.tlog
CppServer/x64/Debug/CppServer.tlog/link.read.1.tlog
CppServer/x64/Debug/CppServer.tlog/link.command.1.tlog
CppServer/x64/Debug/CppServer.tlog/CppServer.lastbuildstate
CppServer/x64/Debug/CppServer.tlog/CL.write.1.tlog
CppServer/x64/Debug/CppServer.tlog/CL.read.1.tlog
CppServer/x64/Debug/CppServer.tlog/CL.command.1.tlog
CppServer/x64/Debug/CppServer.pch
CppServer/x64/Debug/CppServer.obj
CppServer/x64/Debug/CppServer.log
CppServer/x64/Debug/CppServer.Build.CppClean.log
CppServer/receivedImage.png
.vs/CppServer/v15/ipch/a95d9d4a947a4eaa.ipch
.vs/CppServer/v15/Browse.VC.opendb
.vs/CppServer/v15/Browse.VC.db
.vs/CppServer/v15/.suo
